node_modules
dist
out
.DS_Store
**/.DS_Store
.eslintcache
*.log*

/generated/prisma
.env
.env.local
.env.*.local

# Archivos de caché de VS Code y herramientas
.vscode/.history
.vite
*.tsbuildinfo

coverage/